<nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
        <nz-divider></nz-divider>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
        <nz-divider nzText="With Text"></nz-divider>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
        <nz-divider nzDashed [nzText]="text">
            <ng-template #text><i class="anticon anticon-plus"></i> Add</ng-template>
        </nz-divider>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
        <nz-divider nzText="With Text" nzOrientation="left"></nz-divider>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
        <nz-divider nzText="With Text" nzOrientation="right"></nz-divider>
        <p>LeRM IpSouthDoor 不经一番彻骨寒，怎得梅花扑鼻香。从我的学习经历来看，并不乏遇到挫折。迷茫、失望、自卑……可即使千辛万苦，劳心劳力，我终究还是挺过去了。这是个弱肉强食的世界，我只能在一次次战胜挫折的经验教训中让自己变得更强大，学会在一次又一次逆境中挣扎，最后破蛹化蝶。</p>
    </div>
</nz-spin>